html{
    height: 100%;
    width: 100%;
}

body{
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.mainContent{
    height: fit-content;
    width: fit-content;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px 50px 0px;
}

.otherInfoContainer{
    display: flex;
    width: auto;
    height: fit-content;
}

button {
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    margin-top: 7px;
    width: 100%;
    padding: 10px;
}

input[type='radio'] { 
    margin: 0px 10px 0px 10px;
    transform : scale(1.7); 
} 

input[type='checkbox'] { 
    transform : scale(1.7); 
} 

.newAccountCheckBox, .differentAddressCheckBox, .getNewsletterCheckBox, .acceptRegulationsCheckBox {
    width: 100%;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    
}

.newAccountCheckBox p, .differentAddressCheckBox p, .getNewsletterCheckBox p, .acceptRegulationsCheckBox p{
    font-size: smaller;
    margin: 0 0 0 7px;
}

.newAccountCheckBox input[type='checkbox'], .differentAddressCheckBox input[type='checkbox'], .getNewsletterCheckBox input[type='checkbox'], .acceptRegulationsCheckBox input[type='checkbox']{
    margin-left: 5px;
}

.userDataLabel, .deliveryMethodLabel, .paymentMethodLabel, .summaryLabel{
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    background-color: rgb(168,159,143);
    color: white;  
    font-weight: 500; 
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.userDataLabel i, .deliveryMethodLabel i, .paymentMethodLabel i, .summaryLabel i{
    margin-left: 10px;
    margin-right: 10px;
}

.userDataContainer{
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
}

.loginBtn{
    color: rgb(220,65,65);
    background-color: white;
    border: 2px solid rgb(220,65,65);
}

.userDataContainer .userSignin {
    display: flex;
    align-items: center;        
    flex-direction: column;
    padding: 0px;
    margin-top: 7px;
}

.userDataContainer .userSignin a {
    margin-top: 7px;
    color: black;
    text-decoration: none;
    font-size: small;
}

.userDataContainer .userSignin p{
    margin: 0px;
}

.userDataForm{
    width: 100%;   
}

.userDataForm label{  
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.userDataForm input, .userDataForm select{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    border-radius: 4px;    
    border: 1px solid rgb(168,159,143);
    width: 100%;
    font-size: smaller;
    padding: 10px;
    margin-top: 10px;
}

.userDataForm select{
    color: rgb(117,117,117);
}

.addressDetails{
    display: flex;
    justify-content: space-between;
}

.addressDetails input{
    margin-top: 10px;
}

.addressDetails .postCode{
    margin-right: 4px;
}

input[name="login"], input[name="pass"], input[name="confirmPass"] {
    display: none;
}

.deliveryAndPaymentMethodsWrapper{
    margin: 0px 10px 10px 10px;
    width: 250px;
    height: fit-content;
}  

.deliveryMethodContainer{
    width: 100%;
    height: auto;
}                   

.deliveryMethod{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.deliveryMethod div{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.deliveryMethod p{
    margin: 0px 5px 0px 0px;
    text-align: end;
    width: 80px;
    font-weight: bold;
}

.deliveryMethod label{
    font-size: smaller;
    margin-left:5px;
}

.paymentMethodContainer{
    width: 100%;
    height: auto;
} 

.discountCodeBtn{
    color: rgb(168,159,143);
    background-color: white;
    border: 2px solid rgb(168,159,143);
}

.paymentMethod1, .paymentMethod2, .paymentMethod3{
    display: none;
    width: 100%;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.paymentMethod1 label, .paymentMethod2 label, .paymentMethod3 label{
    font-size: smaller;
    margin-left:5px;
}

.discountCodeContainer label{  
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.discountCodeContainer input{
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    border-radius: 4px;    
    border: 1px solid rgb(168,159,143);
    width: 100%;
    font-size: smaller;
    padding: 10px;
    margin-top: 10px;
}

.activateDiscountCodeBtn{
    display: none;
    margin-top: 10px;
    color: rgb(13, 117, 215);
    background-color: white;
    border: 2px solid rgb(13, 117, 215);
}

.summaryContainer{
    margin: 0px 10px 10px 10px;
    width: 250px;
    height: fit-content;
}

.productInfo{
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    width: 100%;
    height: auto;
}

.productInfo .productImg{
    height: 45px;
    width: 28%;
    background-color: gray;
}

.productInfo .productImg img{
    height: 100%;
    width: 100%;
}

.productInfo p{
    font-size: small;
    margin: 0px;
}

.productInfo .productDetails{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0% 2% 0% 2%;   
}

.productInfo .productDetails .productName{
    margin-bottom: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.productInfo .productPrice{
    text-align: end;
    width: 26%;
    font-weight: bold;
    padding-right: 2%;
    word-wrap: break-word;
}

.orderPriceContainer{
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    border-top: 1px dashed rgb(15, 143, 19);
    border-bottom: 1px dashed rgb(15, 143, 19);
}

.orderPriceContainer div{
    display: flex;
    justify-content: space-between;
}

.orderPriceContainer .partialPrice{
  font-size: smaller;
}

.orderPriceContainer .totalPrice{
    margin-top: 5px;
    font-size: larger;
    font-weight: bold;
}

.orderPriceContainer p{
    margin: 0;
}

.acceptRegulationsCheckBox a{
    text-decoration: none;  
}

.summaryContainer label{
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.summaryContainer textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    resize: vertical;
    padding: 7px;
    margin-top:10px;
    width: 100%;
}

.confirmOrderBtn{
    font-size: small;
    color: white;
    background-color: rgb(227,67,67);
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
    border: none;
}

.orderCompleteInfo{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    width: 350px;
    height: 100px;
    border-radius: 4px;
    background-color: rgb(160, 234, 163);
}  

.orderCompleteInfo p{
    margin: 0px;
    font-size: 24px;
    font-weight: lighter;
}   

.orderCompleteInfo .orderNumber{
    font-size: large;
    font-weight: bold;
}          

.popUpInfo {
    z-index: 11;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    min-height: 30px;
    max-height: fit-content;
    color: white;
    background-color: rgb(95, 95, 95);
    border-radius: 4px;
    margin: 10px 0px 0px 0px;
    padding: 10px;
}

.popUpInfo p{
    margin: 0;
    font-weight: normal;
    font-size: medium;
}

@media (max-width: 850px) {
    .mainContent{
        margin: 20px 5px 20px 5px;
    }
    .otherInfoContainer{
        flex-direction: column;
    }
  }

@media (max-width: 550px) {
    .mainContent{
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        margin: 5px 5px 5px 5px;
    }   
    .orderCompleteInfo{      
        margin-top: 20px;
        width: 250px;
        height: 80px;     
    }  
    .orderCompleteInfo p{
        font-size: 18px;
    }       
    .orderCompleteInfo .orderNumber{
        font-size: medium;
    }       
  }
                    
.loginBackgroundContainer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1f1d1dd1;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

.loginContainer{
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    background-color: white;
}

.loginContainer button{
    margin-top:0px;
}

.userLoginForm{
    width: 100%;   
}

.userLoginForm label{  
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.userLoginForm input{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    border-radius: 4px;    
    border: 1px solid rgb(168,159,143);
    width: 100%;
    font-size: smaller;
    padding: 10px;
    margin-bottom: 10px;
} 